# Imports

In [1]:
# Imports
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv("../Data/sample_brands - data.csv")
df.head()

,brand_id,created,lastActive,planLevel,num_sub_user,role,industry_categories,bantScore,companySize,onboarding_stage,country
0,1,2021-08-31 19:18:40,2021-08-31 19:20:38,0,1,brand,[],NaN,NaN,NaN,NaN
1,2,2020-08-28 4:38:11,2021-01-07 21:10:32,0,1,brand,[],NaN,NaN,4.0,United States
2,3,2020-08-21 13:55:13,2020-10-28 12:53:31,0,1,brand,[],NaN,NaN,4.0,NaN
3,4,2021-07-01 16:46:16,2021-07-01 16:46:59,0,1,founder,[],NaN,NaN,2.0,United States
4,5,2019-12-02 21:57:51,2019-12-20 17:35:41,0,1,brand,[],NaN,NaN,4.0,India

# Data Column Cleaning
### - Dataset has 5839 rows and dropping empty rows would be harmful to the dataset
### - onboarding has 12 when highest value is 4, row to drop, Also drop NaN values in this column
### - Create a column to look at the duration from created to last active
### - Column name cleaning

In [3]:
df.isna().sum()

brand_id                  0
created                   0
lastActive                8
planLevel                 0
num_sub_user              0
role                      6
industry_categories      23
bantScore              4544
companySize            3433
onboarding_stage        239
country                1004
dtype: int64

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5839 entries, 0 to 5838
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   brand_id             5839 non-null   int64
 1   created              5839 non-null   object
 2   lastActive           5831 non-null   object
 3   planLevel            5839 non-null   int64
 4   num_sub_user         5839 non-null   int64
 5   role                 5833 non-null   object
 6   industry_categories  5816 non-null   object
 7   bantScore            1295 non-null   float64
 8   companySize          2406 non-null   object
 9   onboarding_stage     5600 non-null   float64
 10  country              4835 non-null   object
dtypes: float64(2), int64(3), object(6)
memory usage: 501.9+ KB

In [5]:
# renaing the columns for easier reading
df.rename(columns = {'lastActive':'last_active','planLevel':'plan_level','bantScore':'bant_score','companySize':'company_size'}, inplace = True)

In [6]:
#integer, Subscription plan meaning: 0 - Free, 1 - Trial, 2 - Search, 3 - Campagin, 9 - Full-service Agency
df.plan_level.value_counts(ascending=True)

1       8
2      10
9      18
3      29
0    5774
Name: plan_level, dtype: int64

In [7]:
#integer, Subscription plan meaning: 0 - Free, 1 - Trial, 2 - Search, 3 - Campagin, 4 - Full-service Agency
df.plan_level.value_counts(ascending=True)

1       8
2      10
9      18
3      29
0    5774
Name: plan_level, dtype: int64

In [8]:
#integer, A brand account can have multiple user accesses. It is the number of sub-users of each brand account. 
df.num_sub_user.value_counts(ascending=True)

12       1
14       1
7        1
8        2
9        2
6        3
5        9
4       17
3       56
2       95
1     5652
Name: num_sub_user, dtype: int64

In [9]:
# replacing values for more readability
df['industry_categories'] = df['industry_categories'].replace({ '[]':'Unknown'})

In [10]:
#object, The role of the person who sign up on the platform. Autofilled with 'brand' if left blank.
df.role.value_counts(ascending=True)

Trying to be a entrepreneur       1
Professional Real estate          1
Therapist                         1
Disc golf am50                    1
Apparel brand partner             1
                               ...
management                      202
marketing                       350
entrepreneur                    814
founder                         977
brand                          3137
Name: role, Length: 98, dtype: int64

In [11]:
#object, Industries that each brand are in.
df.industry_categories .value_counts(ascending=True)

['Marketing', 'Advertising', 'Personal Care', 'Perfumes', 'Cosmetics', 'Colognes']                                                                                                                                                                                                       1
['Apparel & Jewelry', 'Shorts', 'Shirts & Tops', 'Hats', 'Charms & Pendants', 'Underwear & Socks', 'Sleepwear & Loungewear', 'Wristbands']                                                                                                                                               1
['Apparel & Jewelry', 'Hats', 'Masks', 'Shorts', 'Swimwear', 'Wallets & Money Clips', 'Watches', 'Personal Care', 'Shaving', 'Skin Care', 'Outdoors', 'Hiking Gear', 'Camping Gear', 'Automobiles', 'Automotive Customization', 'Retailing', 'Internet & Direct Marketing Retail']       1
['Health & Medical', 'Personal Care', 'Food & Beverage', 'Agricultural Products', 'Skin Care', 'Sports Health', 'Fitness & Performance']                                                                                                                                                 1
['Insurance', 'Life & Health Insurance']                                                                                                                                                                                                                                                 1
                                                                                                                                                                                                                                                                                      ...
['Health & Medical']                                                                                                                                                                                                                                                                    51
['Food & Beverage']                                                                                                                                                                                                                                                                     77
['Marketing']                                                                                                                                                                                                                                                                           85
['Apparel & Jewelry']                                                                                                                                                                                                                                                                  187
Unknown                                                                                                                                                                                                                                                                               3499
Name: industry_categories, Length: 1170, dtype: int64

In [12]:
#float, Leads qualification score measured based on brands' answers to the onboarding questions. The higher the better. 
df.bant_score .value_counts(ascending=True)

27.0     1
21.0     1
23.0     1
16.0     1
1.0      1
        ..
70.0    45
69.0    47
65.0    52
90.0    56
85.0    57
Name: bant_score, Length: 79, dtype: int64

In [13]:
#object
df.company_size .value_counts(ascending=True)

250 - 999 employees         31
1000+ employees             45
50 - 249 employees         111
10 - 49 employees          454
less than 10 employees    1765
Name: company_size, dtype: int64

In [14]:
#float, Last onboarding stage that each brand saw. 4 means that the brand finished onboarding. 0 means that the brand did not even start the onboarding. 
df.onboarding_stage.value_counts(ascending=True)

12.0       1
3.0      135
1.0      264
0.0      279
2.0      315
4.0     4606
Name: onboarding_stage, dtype: int64

In [15]:
#dropping nulls
df['onboarding_stage'].isna().sum()

239

In [16]:
df['onboarding_stage'].dropna(inplace=True)

In [17]:
#object
df.country .value_counts(ascending=True)

Poland                    1
Peru                      1
Czechia                   1
Antigua and Barbuda       1
Iraq                      1
                       ...
South Africa             16
Canada                   79
India                   167
United Kingdom          208
United States          4074
Name: country, Length: 87, dtype: int64

In [18]:
# converting to datetime type
df['last_active'] = pd.to_datetime(df['last_active'])

In [19]:
df['created'] = pd.to_datetime(df['created'])

In [20]:
# Creating a column to see the last time the user has been active
df['duration'] = df['last_active'] - df['created']

In [21]:
df.head()

,brand_id,created,last_active,plan_level,num_sub_user,role,industry_categories,bant_score,company_size,onboarding_stage,country,duration
0,1,2021-08-31 19:18:40,2021-08-31 19:20:38,0,1,brand,Unknown,NaN,NaN,NaN,NaN,0 days 00:01:58
1,2,2020-08-28 04:38:11,2021-01-07 21:10:32,0,1,brand,Unknown,NaN,NaN,4.0,United States,132 days 16:32:21
2,3,2020-08-21 13:55:13,2020-10-28 12:53:31,0,1,brand,Unknown,NaN,NaN,4.0,NaN,67 days 22:58:18
3,4,2021-07-01 16:46:16,2021-07-01 16:46:59,0,1,founder,Unknown,NaN,NaN,2.0,United States,0 days 00:00:43
4,5,2019-12-02 21:57:51,2019-12-20 17:35:41,0,1,brand,Unknown,NaN,NaN,4.0,India,17 days 19:37:50

In [22]:
df.duration.value_counts(ascending=False)

0 days 00:00:02     55
0 days 00:00:03     36
0 days 00:00:04     31
0 days 00:00:40     25
0 days 00:00:21     23
                    ..
4 days 21:53:01      1
0 days 01:28:43      1
0 days 00:15:59      1
44 days 15:48:55     1
6 days 17:51:36      1
Name: duration, Length: 3208, dtype: int64

## Dealing with null values

In [23]:
#Rplacing Null values
df.isna().sum()

brand_id                  0
created                   0
last_active               8
plan_level                0
num_sub_user              0
role                      6
industry_categories      23
bant_score             4544
company_size           3433
onboarding_stage        239
country                1004
duration                  8
dtype: int64

In [24]:
df = df.dropna(subset=['last_active'])

In [25]:
df = df.dropna(subset=['role'])

In [26]:
df = df.dropna(subset=['industry_categories'])

In [27]:
df = df.dropna(subset=['onboarding_stage'])

In [28]:
# bant_score value replace?
print('Median:',df.bant_score.median())
print('Mean:',df.bant_score.mean())
print('Mode:',df.bant_score.mode())

Median: 69.0
Mean: 67.76043276661515
Mode: 0    85.0
Name: bant_score, dtype: float64

In [29]:
df['bant_score'] = df['bant_score'].replace({ np.nan : 85})

In [30]:
# bant_score value change
print('Median:',df.bant_score.median())
print('Mean:',df.bant_score.mean())
print('Mode:',df.bant_score.mode())

Median: 85.0
Mean: 80.99712901489323
Mode: 0    85.0
Name: bant_score, dtype: float64

In [31]:
# company_size value replace?
df.company_size.value_counts(normalize=True)

less than 10 employees    0.733472
10 - 49 employees         0.188773
50 - 249 employees        0.046154
1000+ employees           0.018711
250 - 999 employees       0.012890
Name: company_size, dtype: float64

In [32]:
df['company_size'] = df['company_size'].replace({ np.nan : 'less than 10 employees'})

In [33]:
# company_size value replace?
df.company_size.value_counts(normalize=True)

less than 10 employees    0.884981
10 - 49 employees         0.081464
50 - 249 employees        0.019917
1000+ employees           0.008075
250 - 999 employees       0.005563
Name: company_size, dtype: float64

In [34]:
df.country.value_counts(normalize=True)

United States          0.844075
United Kingdom         0.043243
India                  0.034096
Canada                 0.016216
South Africa           0.003119
                         ...
Tunisia                0.000208
Croatia                0.000208
Iraq                   0.000208
Antigua and Barbuda    0.000208
Poland                 0.000208
Name: country, Length: 86, dtype: float64

In [35]:
df['country'] = df['country'].replace({np.nan : 'Unknown'})

# 4% of data has been removed

In [36]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5573 entries, 1 to 5838
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   brand_id             5573 non-null   int64
 1   created              5573 non-null   datetime64[ns]
 2   last_active          5573 non-null   datetime64[ns]
 3   plan_level           5573 non-null   int64
 4   num_sub_user         5573 non-null   int64
 5   role                 5573 non-null   object
 6   industry_categories  5573 non-null   object
 7   bant_score           5573 non-null   float64
 8   company_size         5573 non-null   object
 9   onboarding_stage     5573 non-null   float64
 10  country              5573 non-null   object
 11  duration             5573 non-null   timedelta64[ns]
dtypes: datetime64[ns](2), float64(2), int64(3), object(4), timedelta64[ns](1)
memory usage: 566.0+ KB

In [37]:
df.to_csv('cleaned_opensponsorship.csv')